@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #FF69B4;
    background: linear-gradient(90deg,rgba(255, 105, 180, 1) 0%, rgba(255, 215, 0, 1) 100%);
}

header {
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6.25em;
    color: #fff;
    text-align: center;
    margin-top: 0.3em;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}